@import 'jquery-ui';

body #enp-quiz {
    .enp-slider-input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
    }

    .enp-slider-input__label {
        @include _(label);
    }

    .enp-slider-input__prefix,
    .enp-slider-input__suffix {
        font-size: 1rem;
    }

    .enp-slider-input__prefix {
        margin-right: .2rem;
    }

    .enp-slider-input__suffix {
        margin-left: .2rem;
    }

    .enp-slider-input__input {
        background: #fff;
        width: auto;
    }
}
