@import 'jquery-ui';

body #enp-quiz {
    .enp-slider-input__container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto 1.4rem;
    }

    .enp-slider-input__label {
        @include _(label);
    }

    .enp-slider-input__prefix,
    .enp-slider-input__suffix {
        font-size: 1rem;
    }

    .enp-slider-input__prefix {
        margin-right: .2rem;
    }

    .enp-slider-input__suffix {
        margin-left: .2rem;
    }

    .enp-slider-input__input {
        background: #fff;
        width: auto;
        transition: all .25s ease-out;
    }

    .enp-slider-input__input--invalid-animation {
        box-shadow: 0 0 2px 1px $fade_red;
    }
}
