//fonts
$fontBody : Arial, monospace, helvetica, arial, sans-serif;
$fontTitle : Arial, monospace, helvetica, arial, sans-serif;

// // // colors
$font : #1d1c25;
$background: #FAF9FB;
$title : #5D5E5F;

// Blues
$blue: #00A9B7;
$dark_blue: #333F48;
$light_blue: lighten($dark_blue, 40);

// Grays
$light_gray: #FAF9FB;
$really_light_gray: lighten($light_gray, 1);
$gray: darken($light_gray, 5);
$dark_gray: darken($gray, 10);
$darker_gray: darken($dark_gray, 30);
$darkest_gray: darken($dark_gray, 60);

// Other colors
$green: #60AAAD;
$dark_green: darken($green, 8);
$red: #bf5700;
$dark_red: darken($red, 8);
$fade_red: #C1893E;

// Elements
$link: $blue;
$link_hover: darken($link, 10%);

// animation
$fastInEaseOut: cubic-bezier(0, 0, .3, 1);
$easeInOut: cubic-bezier(0.15,0,.5,1);
$easeInPauseFastOut: cubic-bezier(.28,.01,0,.69);

$breakpoints: (
  "small"  : 400px,
  "medium" : 700px,
  "large"  : 1000px
);

// -----------------------------------------------------------------------------
// Core
// -----------------------------------------------------------------------------

// Caching current breakpoint
// Not meant to be manually edited
$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

// The usual breakpoint mixin
// Except it updates the $current-breakpoint variable
// 1. If breakpoint name exists in map
// 2. Update $current-breakpoint
// 3. Open a media query
// 4. Let the user dump content
// 5. Then reset $current-breakpoint
// 6. If breakpoint name doesn't exist in map, warn the user
@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {                                    // 1
    $current-breakpoint: $breakpoint         !global;     // 2
    @media (min-width: $value) { @content; }              // 3
    $current-breakpoint: $default-breakpoint !global;     // 5
  }

  @else {
    @warn "Invalid breakpoint `#{$breakpoint}`.";         // 6
  }
}

// for only targeting a specific device
// NOTE: DOESN'T SUPPORT THE @include placeholders!!!
@mixin media($query) {
    $media_query: "";
    @if $query == max-small {
        $media_query: "max-width: #{map-get($breakpoints, "small")}";
    } @else if $query == only-medium {
        $media_query: "min-width: #{map-get($breakpoints, "medium")}) and (max-width: #{(map-get($breakpoints, "large") - 1px)}";
    } @else if $query == max-medium {
        $media_query: "max-width: #{(map-get($breakpoints, "medium") - 1px)}";
    } @else if $query == max-large {
        $media_query: "max-width: #{(map-get($breakpoints, "large") - 1px)}";
    } @else {
        // just use the number provided as a max width
        $media_query: "max-width: #{$query}";
    }

    @if variable-exists(media_query) {
        @media ($media_query) {
            @content;
        }
    }


}
