html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 100%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

body {
  background: #fff;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ol, ul {
  list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
  border-left: 2px solid #ccc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}

a img {
  border: 0;
}

/* Reseting to border-box so we can do 100% width with 20px and not mess stuff up. */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px !important;
}

html #enp-quiz {
  box-sizing: border-box;
  border-radius: 3px;
}

body #enp-quiz {
  background: #fff;
  overflow: hidden;
}

#enp-quiz *, #enp-quiz *:before, #enp-quiz *:after {
  box-sizing: inherit;
}
#enp-quiz ul, #enp-quiz ol {
  margin: 0 0 1.6rem 1.25rem;
  padding: 0;
}
#enp-quiz textarea {
  margin-bottom: 1rem;
}
#enp-quiz button, #enp-quiz input[type=button], #enp-quiz input[type=reset], #enp-quiz input[type=submit] {
  border: none;
}
#enp-quiz button:active, #enp-quiz button:focus, #enp-quiz button:hover, #enp-quiz input[type=button]:active, #enp-quiz input[type=button]:focus, #enp-quiz input[type=button]:hover, #enp-quiz input[type=reset]:active, #enp-quiz input[type=reset]:focus, #enp-quiz input[type=reset]:hover, #enp-quiz input[type=submit]:active, #enp-quiz input[type=submit]:focus, #enp-quiz input[type=submit]:hover {
  border: none;
}
#enp-quiz iframe {
  border: none;
}
