#enp-quiz {
    .enp-share-quiz__container {
        @include breakpoint(medium) {
            padding: 0;
            border: none;
        }
    }
    /* Removing flexbox layout temporarily
    * because it wasn't laying out correctly before content loading
    * It would snap into the correct layout after a resize or textarea highlight
    .enp-publish-page-container {
        &:before {
            @include breakpoint(medium) {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -100%;
                width: 128%;
                content: '';
                background: #fff;
                border-right: 1px solid #ddd;
            }

            @include breakpoint(large) {
                width: 124%;
            }
        }

        .enp-quiz-message {
            @include breakpoint(medium) {
                margin-left: 33%;
            }

            @include breakpoint(large) {
                margin-left: 26%;
            }
        }
    }

    .enp-publish-page-flex-container {
        @include breakpoint(medium) {
            @include flex;
            align-items: stretch;
            flex-direction: row-reverse;
        }
    }

    .enp-publish-page__aside-container {

        @include breakpoint(medium) {
            position: relative;
            margin: 0 6% 0 0;
            padding: 0;
            width: 24%;
        }

        @include breakpoint(large) {
            margin: 0;
            //padding-left: 20px;
            width: 20%;
        }
    }

    .enp-share-quiz__container,
    .enp-ab-ad__container {
        @include breakpoint(medium) {
            padding: 0;
            border: none;
        }
    }
    */

    .enp-share-quiz__url {
        display: block;
        font-size: 1rem;
        line-height: 1.4;
        word-wrap: break-word;
    }
    #enp-open__btn {
        cursor: pointer;
    }
    #enp-modal__background {
        display: none;
        background-color: gray;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #enp-modal {
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        animation-name: fadeIn;
        animation-duration: 0.4s;
    }

    .enp-share-quiz {
        justify-content: space-around;
        margin-bottom: 0;
        .enp-icon--mail {
            background: $blue;
        }
    }
}
