@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInTop {
  0% {
    opacity: 0;
    height: auto;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    height: auto;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInTop--reduced-opacity {
  0% {
    opacity: 0;
    height: auto;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0.8;
    height: auto;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutTop {
  0% {
    overflow: hidden;
    height: 100px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    height: 0;
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes removeElement {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    padding: 0;
    margin: 0;
    opacity: 0;
    height: 0;
    z-index: -1;
    transform: translate3d(-200px, 0, 0);
  }
}
@keyframes removeAnswers {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    padding: 0;
    opacity: 0;
    display: none;
    height: 0;
    z-index: -1;
    transform: translate3d(-200px, 0, 0);
  }
}
@keyframes removeQuestion {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
@keyframes showNextQuestion {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes expand {
  0% {
    opacity: 0.8;
    transform: scale3d(1, 1, 1);
    box-shadow: 0 0 0px var(--black-30);
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1);
    box-shadow: 0 0 8px var(--black-40);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    box-shadow: 0 0 0px var(--black-30), inset 0 2px 0 var(--black-20);
  }
}
@keyframes checkmark {
  0% {
    opacity: 0;
    transform: scale3d(0.2, 0.2, 1);
  }
  5% {
    opacity: 1;
  }
  10% {
    transform: scale3d(1.4, 1.4, 1);
  }
  12% {
    transform: scale3d(1, 1, 1);
  }
  90% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  92% {
    transform: scale3d(1.4, 1.4, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.2, 0.2, 1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navSlideIn {
  0% {
    transform: translate3d(0, -200px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#enp-quiz {
  transition: background 0.25s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-aside {
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  background: var(--light-blue);
  border-radius: 3px;
  border: 1px solid #eee;
  border-bottom-color: #ccc;
}
@media (min-width: 700px) {
  #enp-quiz .enp-aside {
    margin-bottom: 2.6rem;
    padding: 1.6rem 2rem;
  }
}
#enp-quiz .enp-aside {
  max-width: 80vw;
  margin: 0 auto;
  font-size: 1.2rem;
  background: var(--background);
}
#enp-quiz .enp-aside__title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
#enp-quiz .enp-page-title {
  border-bottom: 2px solid var(--blue);
}

/*
@mixin no-radio__input  {
    display: inline-block;
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
}

@mixin no-radio__label  {
    display: inline-block;
    position: relative;
    left: -1rem;
    padding: .2rem .6rem;
    @include small-uppercase;
    font-size: .8rem;
    font-weight: normal;
    background: transparent;
    border-radius: 3px;
    transition: all .2s;
}*/
#enp-quiz fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
