#enp-quiz {
  /* Links */
}
#enp-quiz a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.2s;
  touch-action: manipulation;
}
#enp-quiz a .enp-icon {
  fill: var(--link);
}
#enp-quiz a:hover,
#enp-quiz a:focus,
#enp-quiz a:active {
  color: var(--link-hover);
}
#enp-quiz a:hover .enp-icon,
#enp-quiz a:focus .enp-icon,
#enp-quiz a:active .enp-icon {
  fill: var(--link-hover);
}
#enp-quiz button:focus {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
#enp-quiz .enp-btn {
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 0.85em 1.4em 0.75em;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  box-shadow: inset 0 -2px 0 var(--black-20);
  background: var(--link);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
  line-height: 1.6;
}
#enp-quiz .enp-btn:focus, #enp-quiz .enp-btn:hover {
  color: #fff;
  box-shadow: none;
  background: var(--link-hover);
}
#enp-quiz .enp-btn:active {
  color: #fff;
  box-shadow: inset 0 2px 0 var(--black-10);
  background: var(--blue-aqua);
}
#enp-quiz .enp-btn:focus {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
#enp-quiz .enp-btn:disabled, #enp-quiz .enp-btn:disabled:focus, #enp-quiz .enp-btn:disabled:hover {
  background: var(--link);
  cursor: default;
  opacity: 0.5;
}
#enp-quiz .enp-btn--add {
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 0.85em 1.4em 0.75em;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  box-shadow: inset 0 -2px 0 var(--black-20);
  background: var(--link);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
  line-height: 1.6;
}
#enp-quiz .enp-btn--add:focus, #enp-quiz .enp-btn--add:hover {
  color: #fff;
  box-shadow: none;
  background: var(--link-hover);
}
#enp-quiz .enp-btn--add:active {
  color: #fff;
  box-shadow: inset 0 2px 0 var(--black-10);
  background: var(--blue-aqua);
}
#enp-quiz .enp-btn--add:focus {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
#enp-quiz .enp-btn--add:disabled, #enp-quiz .enp-btn--add:disabled:focus, #enp-quiz .enp-btn--add:disabled:hover {
  background: var(--link);
  cursor: default;
  opacity: 0.5;
}
#enp-quiz .enp-btn--add {
  border: 1px dashed var(--darker-gray);
  background: none;
  color: #545454;
  box-shadow: none;
}
#enp-quiz .enp-btn--add:hover, #enp-quiz .enp-btn--add:focus {
  border: 1px dashed var(--darkest-gray);
  color: var(--darker-gray);
  background: var(--white-90);
}
#enp-quiz .enp-btn--add {
  width: 100%;
}
#enp-quiz .enp-btn--disabled {
  opacity: 0.65;
  cursor: default;
}
#enp-quiz .enp-btn--enabled {
  animation: expand 0.6s;
}
#enp-quiz .enp-icon {
  width: 24px;
  height: 24px;
  transition: all 0.2s;
}
#enp-quiz .enp-page-title {
  font-size: 1.6rem;
}
