#enp-quiz .enp-dash-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  transition: all 0.25s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-dash__section-aside {
  background-color: var(--background);
}
@media (min-width: 700px) {
  #enp-quiz .enp-dash__section-aside {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
#enp-quiz .enp-search-quizzes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
}
@media (min-width: 700px) {
  #enp-quiz .enp-search-quizzes {
    padding: 0.2rem 0;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1000px) {
  #enp-quiz .enp-search-quizzes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
#enp-quiz .enp-search-quizzes__form-item {
  margin-bottom: 0.6rem;
  flex: 0 1 48%;
}
@media (min-width: 400px) {
  #enp-quiz .enp-search-quizzes__form-item {
    margin-bottom: 0;
    margin-right: 1rem;
    flex: 1 0 auto;
  }
}
#enp-quiz .enp-quiz-search {
  flex: 1 0 100%;
  position: relative;
}
@media (min-width: 700px) {
  #enp-quiz .enp-quiz-search {
    flex: 1 0 auto;
  }
}
#enp-quiz .enp-search-quizzes__label {
  margin-bottom: 0;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#enp-quiz .enp-search-quizzes__select {
  padding: 0.3rem;
  border-radius: 3px;
  width: 100%;
}
@media (min-width: 1000px) {
  #enp-quiz .enp-search-quizzes__select {
    min-width: 200px;
    font-size: 0.85rem;
  }
}
#enp-quiz .enp-quiz-search__input {
  width: 100%;
  margin: 0 0 0.1rem;
  padding: 0.3rem 0.3rem 0.3rem 26px;
  font-size: 0.85rem;
}
#enp-quiz .enp-quiz-search__icon {
  position: absolute;
  bottom: 0.3rem;
  left: 0.2rem;
  width: 21px;
  height: 21px;
}
#enp-quiz .enp-search-quizzes__button {
  padding: 0.2rem 0.8rem;
}
#enp-quiz .enp-search-results-description {
  font-size: 0.85rem;
}
#enp-quiz .enp-search-results-description__link {
  white-space: nowrap;
}
#enp-quiz .enp-search-results-description__icon {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  top: 4px;
  left: 2px;
}
#enp-quiz .enp-dash__section-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.325rem;
  border-bottom: 1px solid var(--dark-gray);
}
@media (min-width: 700px) {
  #enp-quiz .enp-dash__section-title {
    padding: 1em 0;
  }
}
#enp-quiz .enp-dash__ab-test-helper--not-enough-quizzes {
  color: var(--darker-gray);
}
#enp-quiz .enp-view-toggle {
  cursor: pointer;
  opacity: 0.5;
  display: none;
}
@media (min-width: 700px) {
  #enp-quiz .enp-view-toggle {
    display: flex;
  }
}
#enp-quiz .enp-view-toggle__active {
  opacity: 1;
}
#enp-quiz .enp-sort-by {
  margin-left: 5px;
}
#enp-quiz .enp-dash-list {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  list-style: none;
  margin-left: 0;
}
#enp-quiz .enp-dash-item {
  flex-basis: 100%;
  padding: 1rem 1.2rem;
  background-color: var(--gray);
  border: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  list-style: none;
  transition: all 0.35s cubic-bezier(0, 0, 0.3, 1);
  margin: 0 0 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  border: none;
  border-radius: 3px;
}
#enp-quiz .enp-dash-item--published {
  box-shadow: inset 4px 0 0 var(--green-aqua), 0 1px 0 var(--black-10);
}
#enp-quiz .enp-dash-item--draft {
  box-shadow: inset 4px 0 0 var(--light-blue), 0 1px 0 var(--black-10);
}
#enp-quiz .enp-dash-item--draft .enp-dash-item__title a {
  color: var(--dark-blue);
}
#enp-quiz .enp-dash-item--remove {
  animation: removeElement 0.5s cubic-bezier(0, 0, 0.3, 1) forwards;
}
#enp-quiz .enp-dash-list--list-view .enp-dash-item {
  margin: 0 0 0.8rem;
  flex-basis: 100%;
}
#enp-quiz .enp-dash-item__spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--red-tint-80);
  width: 100%;
  animation: fadeIn 0.3s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-dash-item__header {
  padding: 0.5rem 1rem;
  background: var(--background);
  border-bottom: 1px solid var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}
#enp-quiz .enp-dash-item__title {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  padding: 0;
  margin-bottom: 0;
}
#enp-quiz .enp-dash-item__title a {
  color: var(--green-aqua);
}
#enp-quiz .enp-dash-item__content {
  padding: 0rem 0 0.375rem;
  position: relative;
  transition: all 0.2s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-dash-item__meta {
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--darkest-gray);
  font-size: 0.75rem;
}
#enp-quiz .enp-dash-item__username {
  word-wrap: break-word;
  padding-left: 0.4rem;
  margin-left: 0.2rem;
  border-left: 1px solid #ddd;
}
#enp-quiz .enp-dash-item__title--ab-test {
  padding-bottom: 0;
}
#enp-quiz .enp-dash-item__ab-quizzes {
  list-style: none;
  margin-left: 0;
  font-size: 0.75rem;
  color: var(--darker-gray);
  margin-bottom: 0.8rem;
}
#enp-quiz .enp-dash-item__nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
}
#enp-quiz .enp-dash-item__nav__item {
  display: flex;
  margin: 0;
  width: 100%;
  align-items: center;
}
#enp-quiz .enp-dash-item__nav__item:hover {
  background-color: var(--gray);
}
#enp-quiz .enp-dash-item__nav__item:hover .enp-dash-item__icon {
  fill: var(--link);
}
#enp-quiz .enp-dash-item__nav__item a {
  font-weight: normal;
  color: var(--darkest-gray);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
}
#enp-quiz .enp-dash-item__nav__item a:focus, #enp-quiz .enp-dash-item__nav__item a:hover {
  color: var(--link);
  outline: 1px dotted var(--link);
  outline-offset: 1px;
}
#enp-quiz .enp-dash-item__nav__item a:focus .enp-dash-item__icon, #enp-quiz .enp-dash-item__nav__item a:hover .enp-dash-item__icon {
  fill: var(--link);
}
#enp-quiz .enp-delete-quiz {
  width: 100%;
}
#enp-quiz .enp-delete-quiz:hover .enp-dash-item__delete {
  color: var(--link);
}
#enp-quiz .enp-delete-quiz:hover .enp-icon {
  fill: var(--link);
}
#enp-quiz .enp-dash-item__delete {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 12px;
  align-items: center;
  position: relative;
  line-height: 1.6;
  color: var(--darkest-gray);
  cursor: pointer;
  width: 100%;
  font-size: 0.85rem;
}
#enp-quiz .enp-dash-item__delete .enp-icon {
  fill: var(--darkest-gray);
}
#enp-quiz .enp-dash-item__icon {
  fill: var(--darkest-gray);
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
#enp-quiz .enp-dash-item__nav--collapsible {
  display: none;
  position: absolute;
  z-index: 2;
  top: 44px;
  right: -17px;
  width: 195px;
  background-color: #fff;
  text-align: left;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-dash-item__nav--collapsible .enp-dash-item__nav__item {
  cursor: pointer;
}
#enp-quiz .enp-dash-item__menu-action {
  height: 24px;
  background: none;
  border: none;
  color: #444;
  padding: 0;
  bottom: 0.2rem;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}
#enp-quiz .enp-dash-item__menu-action-wrap {
  max-width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#enp-quiz .enp-dash-item__menu-action__icon {
  width: 15px;
  height: 15px;
  fill: var(--darker-gray);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-dash-item--menu-active {
  transform: translate3d(0, -3px, 0);
  z-index: 2;
}
#enp-quiz .enp-dash-item--menu-active .enp-dash-item__nav-wrap {
  position: relative;
}
#enp-quiz .enp-dash-item--menu-active.enp-dash-item--published {
  box-shadow: inset 4px 0 0 var(--green), 0 2px 2px var(--black-20);
}
#enp-quiz .enp-dash-item--menu-active.enp-dash-item--draft {
  box-shadow: inset 4px 0 0 var(--green-highlight), 0 2px 2px var(--black-20);
}
#enp-quiz .enp-dash-item--menu-active .enp-dash-item__menu-action__icon--bottom {
  transform: rotateX(180deg);
}
#enp-quiz .enp-dash-item--menu-active .enp-dash-item__nav--collapsible {
  display: block;
  animation: slideInTop 0.25s cubic-bezier(0, 0, 0.3, 1) forwards;
  border-radius: 3px;
  box-shadow: 0 2px 2px var(--black-20);
}
#enp-quiz .enp-dash-item--menu-active .enp-dash-item__content {
  opacity: 0.4;
}
#enp-quiz .enp-quiz-results {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0.8rem 0 0;
  padding: 0;
  text-align: center;
}
#enp-quiz .enp-quiz-results__item {
  margin: 0 2% 0 0;
  padding: 0;
  color: var(--title);
}
@media (max-width: 280px) {
  #enp-quiz .enp-quiz-results__item {
    width: 100%;
    padding: 0;
    margin-bottom: 0.6rem;
  }
}
#enp-quiz .enp-quiz-results__number {
  font-size: 1.6rem;
  line-height: 1;
  position: relative;
}
#enp-quiz .enp-dash-item--draft .enp-quiz-results__number {
  opacity: 0.5;
}
#enp-quiz .enp-quiz-results__number--average-score {
  color: var(--green-light);
}
#enp-quiz .enp-quiz-results__number--average-score:after {
  content: "%";
  font-size: 0.9rem;
  position: absolute;
  top: 0.3rem;
  right: -1rem;
}
#enp-quiz .enp-quiz-results__label {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--darkest-gray);
}
#enp-quiz .enp-dash-item--add-new__wrap {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}
#enp-quiz .enp-dash-list--quiz__container {
  display: grid;
  gap: 1em;
}
@media (min-width: 1000px) {
  #enp-quiz .enp-dash-list--quiz__container {
    grid-template-columns: 1fr 1fr;
  }
}
#enp-quiz .enp-dash-item--add-new {
  background: none;
  border: none;
  padding: 0;
  position: relative;
}
@media (min-width: 1000px) {
  #enp-quiz .enp-dash-item--add-new {
    padding-top: 7rem;
  }
}
#enp-quiz .enp-dash-link--add-new {
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 0.85em 1.4em 0.75em;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  box-shadow: inset 0 -2px 0 var(--black-20);
  background: var(--link);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
  line-height: 1.6;
}
#enp-quiz .enp-dash-link--add-new:focus, #enp-quiz .enp-dash-link--add-new:hover {
  color: #fff;
  box-shadow: none;
  background: var(--link-hover);
}
#enp-quiz .enp-dash-link--add-new:active {
  color: #fff;
  box-shadow: inset 0 2px 0 var(--black-10);
  background: var(--blue-aqua);
}
#enp-quiz .enp-dash-link--add-new:focus {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
#enp-quiz .enp-dash-link--add-new:disabled, #enp-quiz .enp-dash-link--add-new:disabled:focus, #enp-quiz .enp-dash-link--add-new:disabled:hover {
  background: var(--link);
  cursor: default;
  opacity: 0.5;
}
#enp-quiz .enp-dash-link--add-new {
  border: 1px dashed var(--darker-gray);
  background: none;
  color: #545454;
  box-shadow: none;
}
#enp-quiz .enp-dash-link--add-new:hover, #enp-quiz .enp-dash-link--add-new:focus {
  border: 1px dashed var(--darkest-gray);
  color: var(--darker-gray);
  background: var(--white-90);
}
#enp-quiz .enp-dash-link--add-new {
  border: 2px dashed var(--darker-gray);
  color: var(--dark-gray);
  transition: all 0.2s;
}
#enp-quiz .enp-dash-link--add-new:hover, #enp-quiz .enp-dash-link--add-new:focus {
  color: var(--darker-gray);
  border: 2px dashed #999;
}
#enp-quiz .enp-dash-link--add-new {
  justify-content: flex-start;
  color: var(--light-blue);
  padding: 1rem 1.2rem;
}
@media (min-width: 700px) {
  #enp-quiz .enp-dash-link--add-new {
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
#enp-quiz .enp-dash-link--add-new .enp-dash-link__icon {
  border-radius: 50%;
  fill: #fff;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5px;
  background-color: var(--light-blue);
}
@media (min-width: 700px) {
  #enp-quiz .enp-dash-link--add-new .enp-dash-link__icon {
    width: 2rem;
    height: 2rem;
    margin: 0.8rem 0 0.2rem;
  }
}
#enp-quiz .enp-dash-link--add-new:hover {
  color: var(--dark-blue);
}
#enp-quiz .enp-dash-link--add-new:hover .enp-dash-link__icon {
  fill: #fff;
  background: var(--dark-blue);
}
#enp-quiz .enp-quiz-message--welcome p {
  color: var(--font);
}
#enp-quiz .enp-paginate {
  list-style: none;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1rem;
}
#enp-quiz .enp-paginate__link {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 0.2rem;
  padding: 0 0.4rem;
  border-radius: 3px;
  font-weight: normal;
}
#enp-quiz .enp-paginate__link--current-page {
  border: 2px solid var(--blue);
}
#enp-quiz .enp-paginate__item--last-page,
#enp-quiz .enp-paginate__item--first-page {
  display: flex;
}
#enp-quiz .enp-paginate__item--first-page:after,
#enp-quiz .enp-paginate__item--last-page:before {
  content: "...";
  font-size: 1rem;
  position: relative;
  bottom: 0.2rem;
  opacity: 0.6;
}
#enp-quiz .enp-paginate__item--no-gap:before, #enp-quiz .enp-paginate__item--no-gap:after {
  content: "";
}
#enp-quiz .enp-paginate__item--next-page {
  margin-left: 0.2rem;
}
#enp-quiz .enp-paginate__item--previous-page {
  margin-right: 0.2rem;
}
