#enp-quiz {
  /* Removing flexbox layout temporarily
  * because it wasn't laying out correctly before content loading
  * It would snap into the correct layout after a resize or textarea highlight
  .enp-publish-page-container {
      &:before {
          @include breakpoint(medium) {
              position: absolute;
              top: 0;
              bottom: 0;
              left: -100%;
              width: 128%;
              content: '';
              background: #fff;
              border-right: 1px solid #ddd;
          }

          @include breakpoint(large) {
              width: 124%;
          }
      }

      .enp-quiz-message {
          @include breakpoint(medium) {
              margin-left: 33%;
          }

          @include breakpoint(large) {
              margin-left: 26%;
          }
      }
  }

  .enp-publish-page-flex-container {
      @include breakpoint(medium) {
          @include flex;
          align-items: stretch;
          flex-direction: row-reverse;
      }
  }

  .enp-publish-page__aside-container {

      @include breakpoint(medium) {
          position: relative;
          margin: 0 6% 0 0;
          padding: 0;
          width: 24%;
      }

      @include breakpoint(large) {
          margin: 0;
          //padding-left: 20px;
          width: 20%;
      }
  }

  .enp-share-quiz__container,
  .enp-ab-ad__container {
      @include breakpoint(medium) {
          padding: 0;
          border: none;
      }
  }
  */
}
#enp-quiz .enp-share-quiz__url {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  word-wrap: break-word;
}
#enp-quiz .enp-share-quiz {
  list-style: none;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#enp-quiz .enp-share-quiz__item {
  margin-right: 20px;
}
#enp-quiz .enp-share-quiz__item:last-child {
  margin-right: 0;
}
#enp-quiz .enp-share-quiz__item__icon {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  fill: #fff;
  padding: 0.6rem;
  fill: #fff !important;
}
#enp-quiz .enp-share-quiz__item__icon--facebook {
  background-color: #3a5795;
}
#enp-quiz .enp-share-quiz__item__icon--twitter {
  background-color: #4099ff;
}
#enp-quiz .enp-share-quiz {
  justify-content: space-around;
  margin-bottom: 0;
}
#enp-quiz .enp-share-quiz .enp-icon--mail {
  background: var(--blue);
}
