#enp-quiz .enp-slider {
  margin-bottom: 1.6rem;
}
#enp-quiz .enp-slider-input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.6rem auto;
  position: relative;
}
#enp-quiz .enp-slider-input__label {
  display: block;
  color: var(--form-label);
  font-weight: normal;
  font-size: 0.85rem;
  text-transform: uppercase;
}
#enp-quiz .enp-slider-input__prefix,
#enp-quiz .enp-slider-input__suffix {
  font-size: 1rem;
}
#enp-quiz .enp-slider-input__prefix {
  margin-right: 0.2rem;
  white-space: pre;
}
#enp-quiz .enp-slider-input__suffix {
  margin-left: 0.2rem;
  white-space: pre;
}
#enp-quiz .enp-slider-input__input {
  font-size: 1rem;
  font-family: Arial, monospace, helvetica, arial, sans-serif;
  padding: 0.8rem 0.5rem;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 20rem;
  max-width: 100%;
  margin-bottom: 1.2rem;
}
@media (min-width: 700px) {
  #enp-quiz .enp-slider-input__input {
    padding: 0.8rem;
    width: 100%;
  }
}
#enp-quiz .enp-slider-input__input {
  margin-bottom: 0;
  padding: 0.75rem;
  width: auto;
  transition: all 0.25s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-slider-input__input--incorrect {
  color: var(--link);
}
#enp-quiz .enp-slider-input__input--correct {
  color: var(--green-light);
}
#enp-quiz .enp-slider-input__input--invalid-animation {
  box-shadow: 0 0 2px 1px #c1893e;
}
#enp-quiz .enp-slider_input__range-helper {
  position: absolute;
  bottom: -1.2rem;
  font-size: 0.8rem;
}
#enp-quiz .enp-slider_input__range-helper--low {
  left: 0;
}
#enp-quiz .enp-slider_input__range-helper--high {
  right: 0;
}
#enp-quiz .enp-slider-input__range-helper__number {
  position: relative;
  color: var(--darkest-gray);
}
#enp-quiz .ui-slider-range-show-correct__tooltip-container {
  position: relative;
}
#enp-quiz .ui-slider-range-show-correct__tooltip {
  position: absolute;
  top: -0.4rem;
  margin-left: -0.55rem;
  height: 1rem;
  width: 1.1rem;
  height: 1.1rem;
  border: 2px solid var(--green);
  background-color: #fff;
  border-radius: 50%;
  z-index: 9999;
}
#enp-quiz .ui-slider-range-show-correct__tooltip--low {
  left: 0;
}
#enp-quiz .ui-slider-range-show-correct__tooltip--high {
  right: -0.55rem;
}
#enp-quiz .ui-slider-range-show-correct__tooltip__text {
  position: relative;
  color: var(--green-slider);
  top: -1.35rem;
  font-size: 0.825rem;
  min-width: 100%;
  display: inline-block;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}
#enp-quiz .enp-slider {
  position: relative;
  text-align: left;
  background: #ddd;
  /* Layout helpers
  ----------------------------------*/
}
#enp-quiz .enp-slider .ui-helper-hidden {
  display: none;
}
#enp-quiz .enp-slider .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#enp-quiz .enp-slider .ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
#enp-quiz .enp-slider .ui-helper-clearfix:before,
#enp-quiz .enp-slider .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
#enp-quiz .enp-slider .ui-helper-clearfix:after {
  clear: both;
}
#enp-quiz .enp-slider .ui-helper-clearfix {
  min-height: 0; /* support: IE7 */
}
#enp-quiz .enp-slider .ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0); /* support: IE8 */
}
#enp-quiz .enp-slider .ui-front {
  z-index: 100;
}
#enp-quiz .enp-slider {
  /* Interaction Cues
  ----------------------------------*/
}
#enp-quiz .enp-slider .ui-state-disabled {
  cursor: default !important;
}
#enp-quiz .enp-slider {
  /* Icons
  ----------------------------------*/
  /* states and images */
}
#enp-quiz .enp-slider .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
#enp-quiz .enp-slider {
  /* Misc visuals
  ----------------------------------*/
  /* Overlays */
}
#enp-quiz .enp-slider .ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#enp-quiz .enp-slider .ui-slider-handle {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  z-index: 2;
  width: 1.2rem;
  height: 1.2rem;
  top: -0.4rem;
  margin-left: -0.6rem;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  transition:
    opacity 0.2s cubic-bezier(0, 0, 0.3, 1),
    height 0.18s cubic-bezier(0, 0, 0.3, 1),
    width 0.18s cubic-bezier(0, 0, 0.3, 1),
    transform 0.18s cubic-bezier(0, 0, 0.3, 1);
}
#enp-quiz .enp-slider .ui-slider-handle:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #4d90fe;
}
#enp-quiz .enp-slider .ui-slider-handle--correct,
#enp-quiz .enp-slider .ui-slider-handle--incorrect {
  width: 1.1rem;
  height: 1.1rem;
  top: -0.4rem;
  margin-left: -0.55rem;
}
#enp-quiz .enp-slider .ui-slider-handle--incorrect {
  z-index: 1;
  border: 2px solid var(--link);
}
#enp-quiz .enp-slider .ui-slider-handle--correct {
  border: 2px solid var(--green);
  z-index: 99999;
}
#enp-quiz .enp-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7rem;
  display: block;
  border: 0;
  background-position: 0 0;
  top: 0;
  height: 100%;
}
#enp-quiz .enp-slider .ui-slider-range-show-correct {
  background: var(--green);
  z-index: 9;
}
#enp-quiz .enp-slider .ui-slider-range-min {
  left: 0;
  background: var(--blue);
}
#enp-quiz .enp-slider .ui-slider-range-max {
  right: 0;
}
#enp-quiz .enp-slider {
  /* support: IE8 - See #6727 */
}
#enp-quiz .enp-slider.ui-state-disabled .ui-slider-handle,
#enp-quiz .enp-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
#enp-quiz .ui-slider-horizontal {
  height: 0.3rem;
}
#enp-quiz .enp-question__answered .enp-slider {
  background: #bbb;
}
#enp-quiz .enp-question__answered .ui-slider-range-min {
  background: #fff;
}
